.team-pic {
  height: 125px;
  .h4 {
    line-height: 2px;
  }
}

.role {
  position: relative;
  display: none;
  width: 2vw;
  height: 2vw;
  padding-right: 5vw;
  bottom: 80%;
  margin: 0 auto;
}

.team { 
  background: #18bc9c;
  padding-bottom: 350px;
}

.team-title {
  color: white;
}

.team-container {
  padding: 100px;
}

.blur-pic {
  -webkit-filter: blur(3px) grayscale(70%) hue-rotate(120deg);
}
