.img-team {
  max-height: 201px;
  height: 201px;
  width: 201px;
}

#team .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px; }

#team .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 201px;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s; }

#team .portfolio-item .portfolio-link .caption:hover {
  opacity: 1; }

#team .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  top: 17%;
  width: 14vw;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: #fff;
  p {
    font-size: 1em;
    position: relative;
    width: 200px;
    bottom: 20px;
  }
}


.role {
  text-align: center;
  padding: 20px;
}

.engineer {
  background: #2c3e50;
  color: white;
  height: 61px;
  line-height: 50px;
  position: relative;
  bottom: 10px;
  width: 201px;
  text-align: center;
  border-bottom: 10px solid #2980b9;
}

.engineer-social {
  background: #272727;
  height: 52px;
  text-align: center;
  line-height: 55px;
  position: relative;
  bottom: 20px;
  width: 201px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
  i {
    font-size: 2em;
    letter-spacing: 23px;
    position: relative;
    left: 10px;
  }
}

.asuza {
    background-image: url(https://s.gravatar.com/avatar/a875a2757ecef742ee15950e21ba9441?s=201)
}

.natedsaint {
    background-image: url(https://www.gravatar.com/avatar/539755ce3ebeec9b1a299ebc8fea2f8e?s=201&d=identicon&r=PG)
}

.jaredsartin {
    background-image: url(https://s.gravatar.com/avatar/eca6a30157569c5a522f406240de6977?s=201)
}