.role {
  position: relative;
  display: none;
  width: 2vw;
  height: 2vw;
  padding-right: 5vw;
  bottom: 80%;
  margin: 0 auto;
}


.team-title {
  color: white;
}

.team-container {
  padding: 100px;
}

.img-team {
  max-height: 201px;  
}

.engineer {
  background: #2c3e50;
  height: 61px;
  line-height: 50px;
  position: relative;
  bottom: 10px;
  width: 201px;
  text-align: center;
  border-bottom: 10px solid #2980b9;
}

.engineer-social {
  background: #272727;
  height: 52px;
  line-height: 55px;
  position: relative;
  bottom: 20px;
  width: 201px;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.3);
   i {
    font-size: 23px;
    margin: 0 44%;
  }
}