.info-header{
  font-size: 18px; text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  padding-bottom: 20px;
}

.info-list {
   font-size: 15px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  li {
    padding: 10px;
  }
}
.ft {
  font-size: 3px;
}
.submitRepo {
  color: white;
  width: 10rem;
  margin-bottom: -5px;
  background-color: #2c3e50 !important;
  &:hover {
    color: #18bc9c;
  }
}

.fb_iframe_widget {
  display: block !important;
}

.nav-buttons {
  margin: 0 auto;
  max-width: 55rem;
}

#inputRepo {
  width: 23vw;
}

.user-options {
  margin-top: 25px !important;
  background: #2c3e50;
  &:active {
    background: none;
  }
  li{
    a{
      color: #FFF;
      &:hover {
        background: none;
      }
    }
  }
}

.btn-social {
  width: 19rem;
  text-align: center !important;
  margin: auto;
  .fa-github {
    border-right: none;
  }
}

.user-options-shrink {
  margin-top: 5px !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  background: #1a242f;
}

.lifetime-table {
  position: relative;
  top: 50px;
}

.leaderboard-table {
  background-color: white;
  color: black;
  text-align: center;
  width: 60vw;
}

.leaderboard-headers {
  th {
    text-align: center;
  }
}

.leaderboard-time-param {
  margin: 0 25px 25px 0;
}

.leaderboard-data {
  width: 33%;
}

.leaderboard-rank {
  width: 6vw;
}

.leaderboard-name {
  width: 26vw;
}

.leaderboard-damage {
  width: 26vw;
}

.lifetime-table-header {
  font-weight: bold;
}
 
.repoInput {
  margin-top: 40px;
}
 
.logoutButton {
  margin-top: 40px;
}

#inputRepo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.userViewTabs {
  width: 31vw;
  margin: 0 auto;
}

.leaderViewTabs {
  width: 31vw;
  margin: 0 auto;
  backhround-color: white;
}

.rulesViewTabs {
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
}

.form-control-feedback {
  color: #06C20A !important;
  margin-top: 5px;
}

.centered {
  display: block;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.game-tips {
  position: relative;
  bottom: 55px;
  aside{
    .fa-times{
      cursor: pointer;
    }
    border: solid 1px rgb(0, 0, 0);
    width: 28%;
    color: rgb(85, 23, 23);
    margin: 0 auto;
    background: #62B4B1;
    opacity: .6;
    box-shadow: 2px 2px 3px 1px;
  }
}

#replay {
  min-height: 1094px;
}

.announce {
  position: absolute;
  top: 8vw;
  width: 100%;
  height: 5vw;
  background-color: #27e833;
  border: 4px solid black;
}

.knight {
  z-index: 1;
}
