.rules{
  font-size: 18px; text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.rules-list {
  li {
    padding: 10px;
  }
}

.user-options {
  margin-top: 25px !important;
  background: #2c3e50;
  &:active {
    background: none;
  }
  li{
    a{
      color: #FFF;
      &:hover {
        background: none;
      }
    }
  }
}

.user-options-shrink {
  margin-top: 5px !important;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus {
  background: #1a242f;
}

.lifetime-table {
  position: relative;
  top: 50px;
}

.lifetime-table-header {
  font-weight: bold;
}

.settingsView {
  margin-top: 35px;
  margin-bottom: -65px;
}
 
.repoInput {
  margin-top: 40px;
}
 
.logoutButton {
  margin-top: 100px;
}

#inputRepo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.userViewTabs {
  width: 565px;
  margin-left: auto;
  margin-right: auto;
}

