@import url(//fonts.googleapis.com/css?family=Press+Start+2P);

.info-header{
  text-transform: uppercase;
  font: 700 18px Montserrat;
  padding-bottom: 20px;
}

.info-list {
   font: 15px Montserrat;
  li {
    padding: 10px;
  }
}

.info-settings {
  padding-top: 20px;
}

.ft {
  font-size: 3px;
}

.submitRepo {
  color: white;
  width: 10rem;
  margin-bottom: -5px;
  &:hover {
    color: #18bc9c;
  }
}

.fb_iframe_widget {
  display: block !important;
}

.nav-buttons {
  margin: 0 auto;
  max-width: 55rem;
}

#inputRepo {
  width: 23vw;
}

.user-options {
  margin-top: 25px !important;
  background: #2c3e50;
  &:active {
    background: none;
  }
  li{
    a{
      color: #FFF;
      &:hover {
        background: none;
      }
    }
  }
}

.btn-github {
  width: 19rem;
  text-align: center !important;
  margin: auto;
  .fa-github {
    border-right: none;
  }
}

.user-options-shrink {
  margin-top: 5px !important;
}

.navbar-default {
  background: #2b3e50;
  box-shadow: 0 0 10px #000000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: #1a242f;
}

.navbar-nav .btn-github {
  width: auto;
  font-size: 12px;
}

.lifetime-table {
  position: relative;
  top: 50px;
}

.leaderboard-table {
  color: #eaeaea;
  text-align: center;
  width: 60vw;
}

.leaderboard-headers {
  th {
    text-align: center;
  }
}

.leaderboard-time-param {
  margin: 0 25px 25px 0;
}

.leaderboard-data {
  width: 33%;
}

.leaderboard-rank {
  width: 6vw;
}

.leaderboard-name {
  width: 26vw;
}

.leaderboard-damage {
  width: 26vw;
}

.lifetime-table-header {
  font-weight: bold;
}

.repoInput {
  margin-top: 10px;
}

.logoutButton {
  margin-top: 40px;
}

#inputRepo {
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
}

.userViewTabs {
  width: 31vw;
  margin: 0 auto;
}

.leaderViewTabs {
  width: 31vw;
  margin: 0 auto;
  background-color: white;
}

.rulesViewTabs {
  width: 28vw;
  margin-left: auto;
  margin-right: auto;
}

.form-control-feedback {
  color: #06C20A !important;
  margin-top: 5px;
}

.centered {
  display: block;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.game-tips {
  position: relative;
  aside{
    .fa-times{
      cursor: pointer;
      float: right;
    }
    border: solid 1px rgb(0, 0, 0);
    color: rgb(85, 23, 23);
    margin: 0 auto;
    background: #62B4B1;
    opacity: .6;
    box-shadow: 2px 2px 3px 1px;
    padding: 8px;
    width: 316px;
  }
}

#replay.battle-space {
  position: relative;
  min-height: 1094px;
}

.spinner {
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 250px;
  height: 180px;
  width: 180px;
}


.announce {
  position: absolute;
  top: 8vw;
  width: 100%;
  height: 5vw;
  background-color: #27e833;
  border: 4px solid black;
}

.knight {
  z-index: 1;
}

a {
  color: #428BCA;
}

a:visited {
  color: #ee33ee;
}

a:active, a:hover, a:focus {
  color: #eee;
}

a.btn {
  font-weight: bold;
}

a.btn:hover,
.success a:active,
.success a:hover,
.success a:focus,
footer a:hover {
  color: #d9edf7 !important;
}

footer {
  background: #272727;
  padding: 20px;
  margin-top: 20px;
}

.success .team-info a:focus, .success .team-info a:hover {
  color: #2C3E50 !important
}

.engineer-social a {
  text-decoration: none;
}

