@media (min-width: 1200px){
   .team-info {
    top: 0vw;
    width: 10vw;
  }
  .team-pic {
    margin-left: 7.333333%;
  }
  .range-bar{
    bottom: 9.9vw;
  }
  .play-controls {
    bottom: 8.6vw;
  }
  .battle-map {
    bottom: 4vw;
  }
}

@media (min-width: 1550px){
   .team-info {
    top: 4vw;
    width: 10vw;
  }
  .battle-map {
    bottom: 3vw;
  }
  .play-controls {
    bottom: 7.6vw;
  }
  .range-bar {
    bottom: 7.9vw;
  }
}

@media (max-width: 1199px) {
  .battle-map {
    bottom: 4.6vw;
  }
  .play-controls {
    bottom: 11vw;
    width: 15%;
  }
  .range-bar {
    bottom: 12.4vw;
  }
  .team-pic {
    float: right;
    padding-right: 5%;
    padding-left: 5%;
  }
  .turn {
    bottom: none;
  }
  .messages {
    top: 1vw;
    height: 3vw;
  }
}

@media (max-width: 1098px){
  .lifebar {
    width: 31%;
    height: 96%;
    bottom: -12%;
    left: 3px;
    margin: -3px;
  }
}

@media (max-width: 991px) {
  .team-pic {
    height: 150px;
    float: none;
    .role{
      left: 30%;
      padding-right: none;
      display: block;
    }
    img {
      -webkit-filter: none;
    }
  }
  .messages {
    top: 2vw;
    left: 24%;
  }
}

@media (max-width: 800px) {
  .battle-tile {
    width: 3.9vw;  
    height: 3.9vw;
  }
}


@media (max-width: 678px) {
  .battle-tile {
    width: 7.1vw;
    height: 6vw
  }
  .sprite {
    max-height: 5vw;
  }
  .team-info {
    visibility: hidden;
  }
  .team-name {
    font-size: 9px;
  }
  .play-controls {
    width: 26%;
  }
  .lifebar {
    width: 27%;
  }
  .range-bar {
    bottom: 15vw;
  }
  .indicator {
    font-size: 2.5vw;
    margin: 11px -2px;
  }
  .turn {
    bottom: 10vw;
    left: 0;
  }
  .messages {
    top: 3vw;
  }
}
