@media (min-width: 1200px){
   .team-info {
    top: 0vw;
    width: 10vw;
  }
  .portfolio-item {
    margin-left: 6%;
  }
  .range-bar{
    bottom: 9.9vw;
  }
  .play-controls {
    bottom: 8.6vw;
  }
  .battle-map {
    bottom: 4vw;
  }
  .messages {
    top: 1vw;
  }
}

@media (min-width: 1550px){
   .team-info {
    top: 3.5vw;
    width: 10vw;
  }
  .battle-map {
    bottom: 1vw;
  }
  .play-controls {
    bottom: 5.6vw;
  }
  .range-bar {
    bottom: 5.9vw;
  }
  .team-name {
    width: 140px;
  }
  .turn {
    bottom: 13%;
  }
}

@media (max-width: 1199px) {
  .battle-map {
    bottom: 4.6vw;
  }
  .play-controls {
    bottom: 11vw;
    width: 15%;
  }
  .range-bar {
    bottom: 12.4vw;
  }
  .portfolio-item {
    float: left;
    padding-right: 1%;
    padding-left: 3%;
  }
  .turn {
    bottom: none;
  }
  .announce {
    position: absolute;
    top: 10vw;
    width: 100%;
    height: 8vw;
    background-color: #27e833;
    border: 4px solid black;
  }
}

@media (max-width: 1098px){
  .lifebar {
    width: 31%;
    height: 96%;
    bottom: -12%;
    left: 3px;
    margin: -3px;
  }
  .announce {
    position: absolute;
    top: 10vw;
    width: 100%;
    height: 8vw;
    background-color: #27e833;
    border: 4px solid black;
  }
}

@media (max-width: 991px) {
  .portfolio-item {
    float: left;
    padding-right: 8%;
    padding-left: 12%;
  }
  .announce {
    position: absolute;
    top: 13vw;
    width: 100%;
    height: 12vw;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
}

@media (max-width: 800px) {
  .battle-tile {
    width: 3.9vw;
    height: 3.9vw;
  }
  .announce {
    position: absolute;
    top: 14vw;
    width: 100%;
    height: 12vw;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
  @-moz-document url-prefix() {
    .battle-tile {
      width: 3.9vw;
      height: 2.9vw;
    }
    .sprite {
      max-height: 2.8vw;
    }
  }
}

@media (max-width: 767px){
  .team-info {
    top: 0;
    width: 20vw;
  }
  .game-tips {
    bottom: 25px;
  }
  .announce {
    position: absolute;
    top: 8vw;
    width: 100%;
    height: 12vw;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
}


@media (max-width: 678px) {
  .messages {
    top: 3vw;
  }
  .portfolio-item {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    float: none;
  }
  .battle-tile {
    width: 7.1vw;
    height: 6vw
  }
  .sprite {
    max-height: 5vw;
  }
  .team-info {
    visibility: hidden;
  }
  .team-name {
    font-size: 9px;
  }
  .play-controls {
    width: 26%;
  }
  .lifebar {
    width: 27%;
  }
  .range-bar {
    bottom: 15vw;
  }
  .indicator {
    font-size: 2.5vw;
    margin: 11px -2px;
  }
  .turn {
    bottom: 10vw;
    left: 0;
  }
  .nav-buttons {
    margin: 0 auto;
    max-width: 75rem;
    .btn{
      font-size: 11px;
    }
  }
  .announce {
    position: absolute;
    top: 8vw;
    width: 100%;
    height: 18vw;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
  @-moz-document url-prefix() {
    .battle-tile {
      width: 7.1vw;
      height: 5vw;
    }
    .sprite{
      max-height: 5vw;
    }
  }
}

@media (max-width: 763px) {
  @-moz-document url-prefix() {
    .team-info {
      visibility: hidden;
    }
    .life-capacity {
      width: 111%;
    }
    .sprite {
      max-height: 3.1vw;
    }
  }
}

@media (max-width: 590px) {
  .announce {
    position: absolute;
    top: 9vw;
    width: 100%;
    height: 100px;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
}

@media (max-width: 398px) {
  .indicator {
    font-size: 3.5vw;
    margin: 11px -16px;
  }
  .lifebar {
    width: 37%;
    left: 16px;
    top: 4px;
  }
  .sprite {
    max-height: 6vw;
  }
  .battle-tile {
    width: 7.1vw;
    height: 7.3vw;
  }
   @-moz-document url-prefix() {
    .battle-tile {
      width: 7.1vw;
      height: 5vw;
    }
    .sprite{
      max-height: 5vw;
    }
  }
  .announce {
    position: absolute;
    top: 10vw;
    width: 100%;
    height: 150px;
    background-color: #27e833;
    border: 4px solid black;
    z-index: 2;
  }
}


@media (min-width: 2065px){
   .battle-tile {
     width: 2.5vw;
     height: 2.7vw;
   }
   .game-tips {
     bottom: 40px;
   }
   .range-bar {
     bottom: 110px;
   }
   .play-controls {
     bottom: 100px;
   }
   .team-info {
     width: 165px;
   }

}
