
.list-group-item-highlighted {
  color: #3c763d;
  border-color: #A0CF8C;
  background-color: #A0CF8C;
}


#ex1Slider .slider-selection {
  background: #BABABA;
}

.range-bar {
  margin: 3px auto;
  width: 45%;
  bottom: 3vh;
}

.range-handle {
  bottom: 10px;
  height: 28px;
  width: 29px;
  right: 20px;
  background-color: transparent;
  top: -13px;
  position: absolute;
  background-image: url('../img/sword.png');
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; 
}

.messages {
  margin: -28px auto;
  height: 20px;
  width: 500px;
  top: -6px;
  position: relative;
  font-size: 20px;
  color: dimgrey;
}

.team-info-y {
  float: right;
  width: 112px;
}

.team-info-b {
  float: left;
  right: 4%;
  position: relative;
  width: 112px;
}


.turn-content {
  color: #2c3e50 !important;
}

.dead-info {
  color: red; 
}
