.outer {
  bottom: 37px;
  position: relative;
}

.battle-map {
  display: table;
  bottom: 3vw;
  margin: -5% auto;
  width: auto;
  position: relative;
}

.tile-row {
  display: table-row;
}

.battle-tile {
  display: table-cell;
  height: 2.7vw;
  width: 3.1vw;
  border: 1px dotted #10380d;
  background-image: url("../img/tile.png");
  overflow: hidden;
}

.sprite {
  max-width: 100%;
  max-height: 2.7vw;
  vertical-align: top;
}

.lifebar {
  width: 23%;
  float: left;
  height: 87%;
  -webkit-box-shadow: inset 0 2px 0 #A23A3A;
  border-radius: 15px;
  border: 3px solid #000058;
  position: relative;
  bottom: -8%;
  left: 0;
}

.life-capacity {
  height: 100%;
  width: 79%;
  bottom: 0;
  right: 1px;
  border-radius: 5px;
  background: red;
  position: absolute;
  -webkit-box-shadow: -1px 0px 2px #C0ACAC, 1px 0px 3px #C0ACAC, -1px 0px 10px #C0ACAC, 8px 4px 6px #290E0E;
}

.indicator {
  font-size: 1vw;
  margin-left: -3px;
  position: absolute;
}

.current-turn {
 -webkit-filter: hue-rotate(45deg);
}


.team-yellow {
  color: rgba(245, 255, 0, 0.83);
}

.team-blue {
  color: rgba(0, 61, 255, 0.79);
}


.highlightedCurrentUser {
  opacity: 0.5;
}
@media (max-width: 800px) {
  .battle-tile {
    width: 3.9vw;  
    height: 3.9vw;
  }
}

// @media (max-width: 1625px) {
//   .battle-map {
//     top: 4vw;
//   }
//   .play-controls {
//     bottom: -1vw;
//     width: 15%;
//   }
//   .range-bar {
//     bottom: 0;
//   }
// }

@media (max-width: 1199px) {
  .battle-map {
    top: 4vw;
  }
  .play-controls {
    bottom: -1vw;
    width: 15%;
  }
  .range-bar {
    bottom: 0;
  }
}

@media (max-width: 1098px){
  .lifebar {
    width: 31%;
    height: 96%;
    bottom: -12%;
    left: 3px;
    margin: -3px;
  }
  .role {
    left: 34vw;
  }
}

@media (min-width: 1550px){
   .team-info {
    top: 4vw;
    width: 9vw;
  }
}

@media (min-width: 1200px){
   .team-info {
    top: 4vw;
    width: 9vw;
  }
  .range-bar{
    bottom: 5vw;
  }
  .play-controls {
    bottom: 4.6vw;
  }
}

@media (max-width: 678px ) {
  .battle-tile {
    width: 7.1vw;
    height: 6vw
  }
  .sprite {
    max-height: 5vw;
  }
  .team-info {
    visibility: hidden;
  }
  .team-name {
    font-size: 9px;
  }
  .play-controls {
    width: 26%;
  }
  .lifebar {
    width: 27%;
  }
  .range-bar {
    bottom: 2vw;
  }
  .indicator {
    font-size: 2.5vw;
    margin: 11px -2px;
  }
}