.battle-map {
  display: table;
  margin: 0 auto 2%;
  position: relative;
  width: 81%;
}

.tile-row {
  display: table-row;
}

.battle-tile {
  display: table-cell;
  height: 3.7vw;
  width: 4.5vw;
  border: 1px dotted #10380d;
  background-image: url("../img/tile.png");
}

.sprite {
  max-width: 109.5%;
  max-height: 182%;
  filter: grayscale(0.5) blur(10px);
}

.lifebar {
  width: 18%;
  float: left;
  height: 76%;
  -webkit-box-shadow: inset 0 2px 0 #A23A3A;
  border-radius: 15px;
  border: 3px solid #000058;
  position: absolute;
  top: 0%;
  left: 0;
}

.life-capacity {
  height: 100%;
  width: 79%;
  bottom: 0;
  right: 1px;
  border-radius: 5px;
  background: red;
  position: absolute;
  -webkit-box-shadow: -1px 0px 2px #C0ACAC, 1px 0px 3px #C0ACAC, -1px 0px 10px #C0ACAC, 8px 4px 6px #290E0E;
}


.hero {
  color: white;
  font-size: 0.6em;
  /* margin-bottom: -44px; */
  position: relative;
  top: -76%;
  right: -75%;
}

.current-turn {
  background-color: hotpink;
  opacity: 0.4;
}

.diamond-owner {
  font-size: 24px;
  margin-bottom: -44px;
  position: relative;
  top: -9px;
  float: right;
}

.team-yellow {
  color: rgba(245, 255, 0, 0.83);
}

.team-blue {
  color: rgba(0, 61, 255, 0.79);
}
