.content {
  text-align: center;
  margin: 0 auto;
  width: auto;
  height: auto;

  .btn-nav {
    width:300px;
    margin-left: 51px;
  }
  .panel {
    width:16%;
  }
  img {
  max-height: 476px;
  max-width: 47.5%;
}

}
.game-view{
  height: auto;
  width:auto;
}
.battle-map {
  margin: 0 auto;
  width: 55%;
}

.results-btn {
  display: inline-block;
  background-color: #727093;
  height: 25px;
  width: 90px;
  box-shadow: inset 0px -1px 0px rgba(255,255,255,.9),0 2px 3px rgba(0,0,0,0.6);
  border: 1px solid black;  
}

.results-btn:active{
  box-shadow: inset 0px 0px 0px rgba(255, 255, 255, 0.9), 0 0px 0px rgba(0, 0, 0, 0.6);
  background-color:#727084;

}

.turn {
  position: absolute;
  right: 3%;
  top: 16%;
}

.red-team {
  width: 400px;
  float: left;
  .score {
    background-color: #E7E7E7;
    color: black;
    border-color:grey;
  }
}
 
table { 
  width: 100%; 
  border-collapse: collapse; 
}

.blue-team {
  width: 400px;
  float: right;
  .score {
    background-color: #E7E7E7;
    color: black;
    border-color:grey;
  }
}

.panel-player {
  width: 100px;
} 


.replay-options {
  margin-left: -4px;
  border-radius: 0px;
  border-color:black;
}

.scroll {
  width: 20px; 
  height:30px; 

  border:1px solid black;
  overflow:auto;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

.range-bar {
  margin: 1px auto;
  width: 321px !important;
}

.battle-tile {
  height: 17vh;
  width: 16%;
  border: 2px solid black;
  background-image: url("../resources/tile.png");
}

.range-handle{
  height:30px;
  width:29px;
  background-color:transparent;
  top: -13px;
  position: absolute;
  background-image: url('../resources/sword.png');
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0; 
}