.rules-content {
  margin: 0 auto;
  text-align: center;
}

.gamegrid-content {
  margin: 0 auto;
  text-align: center;
}

section {
  padding:1%;
}

.play-controls {
  position: relative;
  border: solid 5px white;
  border-radius: 16px;
  width: 19%;
  bottom: 2vh;
 .glyphicon {
   font-size: 2em;
   margin: 8% 8%;
  }
}



