.rules-content {
  margin: 0 auto;
  text-align: center; }

.gamegrid-content {
  margin: 0 auto;
  text-align: center; }

.play-controls {
  position: relative;
  border: solid 5px white;
  border-radius: 15px;
  width: 10%;
  bottom: 4.6vh;
  margin: 0 auto;
  .glyphicon {
    font-size: 2em;
    margin: 8% 8%; 
  }
}

.team-pic {
  height: 100px;
  width: 100px;
}

.rules{
  font-size: 18px; text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

#greg {
  height: 175px;
  width: 175px;
}
#jakob {
  height: 175px;
  width: 175px;
}
#james {
  height: 175px;
  width: 175px;
}
#forrest {
  height: 175px;
  width: 175px;
}
#role {
  opacity: 1;
  position: absolute;
  display: none;
}
#team {
  background: #18bc9c;
  padding-bottom: 350px;
}
.team-title {
  color: white;
}
.team-container {
  padding: 100px;
}
li {
  padding: 10px;
}

.lifetime-table {
  position: relative;
  top: 50px;
}

.lifetime-table-header {
  font-weight: bold;
}

.settingsView {
  margin-top: 35px;
  margin-bottom: -65px;
}

.repoInput {
  margin-top: 40px;
}