# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Compiled Dirs
public/lib/game-engine.js
public/build

# Dependency directories
node_modules/
config.js
gamerunner/user_code/helpers/*.js
gamerunner/user_code/hero/*.js

# Support for yarn zero-install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vagrant
.vagrant

# Sublime
*.sublime-project
*.sublime-workspace

# editors
.idea
