# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage

# Compiled Dirs
public/lib/game-engine.js
public/build

# Dependency directories
node_modules/
config.js
gamerunner/user_code/helpers/*.js
gamerunner/user_code/hero/*.js

# Vagrant
.vagrant

# Sublime
*.sublime-project
*.sublime-workspace

# editors
.idea