.body-holder {
  width: 97%;
  width:1060px;
  margin:0 auto;
}

.outer {
  position: relative;
}

.turn{
  font-size: 12px;
  font-family:"Press Start 2P";
  left: 14%;
  bottom: 17%;
  position: absolute;
}

.score-info {
  padding: 4px;
}

.messages {
  top: 2vw;
  width: 100%;
  font-size: 21px;
  height: 30px;
  color: white;
  text-align: center;
  font-family: "Press Start 2P";
}

.team-info {
  top: 0;
  position: absolute;
  width:140px;
}

.diamond-display {
  max-height: 2vw;
}

.t-blue {
  right: 0;
}

.t-red {
  left: 0;
}

.stat-names {
  word-spacing: 1.7rem;
}

.dead-info {
  color: red;
}

.range-bar {
  margin: 0 auto;
  width: 420px;
}

.range-handle {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  background-size: 39px;
  background-image: url(../img/blue_sword.png);
  background-position: 0;
}

.range-min, .range-max {
  color: #ddd;
}

.play-controls {
  position: relative;
  text-align: center;
  border: solid 5px white;
  border-radius: 15px;
  width: 150px;
  margin: 20px auto;
  .glyphicon {
    font-size: 2em;
    margin: 8% 8%;
  }
  .glyphicon:hover {
    cursor:pointer;
    color:#aaa;
  }
}

.hero-header {
  a {
    font-weight: 700;
    color: #31708f;
    width: 75px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: 7px;
  }
  .indicator {
    position: initial;
    margin-right: 5px !important;
    display: inline-block;
    line-height: 10px;
  }
}

.winner-msg {
  font-family:"Press Start 2P";
}

.parallax {
  height:450px;
  overflow:hidden;
}

.parallax-inner {
  background-repeat: repeat-x;
  height:450px;
  position:relative;
  box-shadow:inset 0 0 20px rgba(0,0,0,.5);
  transition:background-position linear 0.2s;
  background-size:1920px;
  image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.parallax-inner.afternoon {
  background-image:url(../img/afternoon_header_smaller.gif);
}

.parallax-inner.evening {
  background-image:url(../img/evening_header_smaller.gif);
}

.parallax-inner.late_afternoon {
  background-image:url(../img/late_afternoon_header_smaller.gif);
}

.parallax-inner.late_evening {
  background-image:url(../img/late_evening_header_smaller.gif);
}

.parallax-inner.late_morning {
  background-image:url(../img/late_morning_header_smaller.gif);
}

.parallax-inner.late_night {
  background-image:url(../img/late_night_header_smaller.gif);
}

.parallax-inner.morning {
  background-image:url(../img/morning_header_smaller.gif);
}

.parallax-inner.night {
  background-image:url(../img/night_header_smaller.gif);
}

.parallax-hero {
  image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
  background: url(../img/blue_knight.gif);
  width:256px;
  height:256px;
  position:absolute;
  bottom:-32px;
  left:64px;
  background-size:256px;
  z-index:90;
}

.parallax-hero.red {
  width:64px;
  height:64px;
  bottom:32px;
  right:256px;
  left:inherit;
  background:url(../img/red_knight.gif);
  background-size:64px;
  z-index:85;
  transition:bottom linear 0.2s;
}

.t-red .list-group-item {
  background:#a00;

  a {
    color: #faa;
  }
}

.list-group-item-danger, .t-red .list-group-item-danger {
  background:#333;
}

select, option {
  color:#000;
}

section {
  overflow:hidden;
}
