.battle-map {
  display: table;
  bottom: 0;
  margin: 0% auto;
  position: relative;
  width:768px;
  height:768px;
}

.tile-row {
  display: table-row;
}

.battle-tile {
  display: table-cell;
  width:64px;
  height:64px;
  border: 1px dotted #10380d;
  position:relative;
  background:url(../img/grass_square.gif);
  overflow: hidden;
  text-align:center;
  vertical-align:middle;
}

.sprite {
  vertical-align: top;
  width:32px;
  height:32px;
}

.lifebar {
  position:absolute;
  width:6px;
  height:40px;
  display:block;
  top:12px;
  left:8px;
  background:#2e2e2e;
}

.life-capacity {
  height: 90%;
  width: 4px;
  bottom: 1px;
  left: 1px;
  background: red;
  position: absolute;
}


.indicator {
  position: absolute;
  right:4px;
  top:38px;
  color:#fff;
  font-size:6px;
  font-family:"Press Start 2P";
  padding:2px 2px 2px 3px;
  border: solid 1px #fff;
}

$arrow-start: -5px;
$arrow-stop: -2px;

.user-arrow {
    position: absolute;
    margin-left: -27px;
    color: #ff0;
    text-shadow: 0px 1px 0px #000;
    opacity: .8;
    font-size: 1.3em;
    margin-top: $arrow-start;
    animation-duration: 0.8s;
    animation-name: bob;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bob {
    from {
        margin-top: $arrow-start;
    }

    to {
        margin-top: $arrow-stop;
    }
}

.team-red {
  background:#a00;
}

.team-blue {
  background:#00a;
}

.fainted {
  animation: deathflash 2s linear infinite alternate;
}

@keyframes deathflash {
  from {
    filter: invert(0%);
    -webkit-filter: invert(0%);
  }

  to {
    filter: invert(90%);
    -webkit-filter: invert(90%);
  }

}
