@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

body {
  color: #ebebeb;
  background-color: #2b3e50;
}

main.container {
  padding-top: 20px;
}

@media screen and (max-width: 600px) {
  main.container {
    padding-left: 0;
    padding-right: 0;
  }
}

nav,
footer {
  background: rgba(0, 0, 0, 0.8);
}

nav.h-nav {
  box-shadow: 0 0 10px #000000;
  font-size: 12px;
  left: 0;
  margin-bottom: 21px;
  height: 60px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030;
}

.nav-list-toggler {
  display: none;
  float: right;
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 812px) {
  .nav-list-toggler {
    display: block;
  }
}

.nav-list-toggler > div {
  font-size: 36px;
  line-height: 0;
  padding: 18px 18px 0 18px;
  color: #428BCA;
}

@media screen and (max-width: 500px) {
  .nav-list-toggler > div {
    padding: 18px 9px 0 9px;
  }
}

nav.h-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  nav.h-nav ul {
    padding-left: 0;
  }
}

@media screen and (max-width: 812px) {
  nav.h-nav ul {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 0;
    flex-direction: column;
    box-shadow: 0 0 10px #000000;
  }

  nav.h-nav ul.navigation-list-active {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
  }
}

nav.h-nav ul li a {
  display: inline-block;
  padding: 10px 10px;
  border-radius: 3px;
  margin-right: 10px;
  text-decoration: none;
}

nav.h-nav li a:hover,
nav.h-nav li a:focus {
  color: #ebebeb;
  background-color: #1f2933;
}

.navigation-link {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 889px) and (max-width: 1048px) {
  .navigation-link {
    max-width: 150px;
  }
}

@media screen and (min-width: 813px) and (max-width: 888px) {
  .navigation-link {
    max-width: 100px;
  }
}

@media screen and (max-width: 812px) {
  .navigation-link {
    max-width: 90vw;
  }
}

h1, h2 {
  font-size: 32px;
  background-color: #1f2933;
  padding: 0.5em;
  font-family: "Press Start 2P";
  text-align: center;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  h1, h2 {
    font-size: x-large;
  }
}

@media screen and (max-width: 384px) {
  h1, h2 {
    font-size: larger;
  }
}

@media screen and (max-width: 288px) {
  h1, h2 {
    font-size: large;
  }
}

h1.title {
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 4em;
  padding: 0 2em;
  display: inline-block;
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  .navigation-title .title {
    font-size: 1em;
    line-height: 5em;
    padding: 0 1em;
  }
}

@media screen and (max-width: 384px) {
  .navigation-title .title {
    font-size: 0.9em;
    line-height: 5.5em;
  }
}

h3 {
  text-transform: uppercase;
  font: 700 18px Montserrat;
}

a {
  color: #428BCA;
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  color: #ec68ec;
}

a.navigation-title:visited {
  color: #428BCA;
}

a:active, a:hover, a:focus {
  color: #eee;
}

footer {
  background: #272727;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.statistics {
  margin-bottom: 2.5rem;
}

.statistics > div {
  border-bottom: 0.1rem solid #1f2933;
  padding: 1.2rem 1.5rem;
}

.hero-stats:hover,
.statistics:hover .stat-value {
  background-color: #34485c;
  border-color: #ddddf4;
}

.accounting {
  text-align: right;
}

table td.accounting,
table th.accounting {
  text-align: right;
}

table th,
table td {
  border-color: #1f2933;
}

table tr:hover td {
  background-color: #34485c;
  border-color: #ddddf4;
}

table tr th:first-child,
table tr td:first-child {
  padding-left: 1em;
}

table tr th:last-child,
table tr td:last-child {
  padding-right: 1em;
}

select {
  color: #ebebeb;
}

select:hover {
  border-color: #428BCA;
}

input {
  color: #ebebeb;
  border-color: #808080 !important;
}

input[type=range] {
  margin: 0;
}

leaderboard table {
  max-width: 900px;
  margin: auto;
}

ul {
  list-style: square;
  padding-left: 2em;
}

section {
  padding: 2em;
}

.tip {
  color: #aaa;
  font-style: italic;
  font-weight: normal;
}

button,
button:hover,
button:active,
button:focus,
button[disabled],
button[disabled]:hover,
button[disabled]:focus {
  background-color: #ddddf4;
  color: #1f2933;
  border: 0.3em solid #a4a7ba;
  line-height: 1em;
  font-size: 0.8em;
  transition-duration: 0.3s;
  box-shadow: 0 0.2em 0.2em #222;
}

button[disabled] {
  opacity: 0.7;
}

button:focus {
  border-color: #428BCA;
}

button:hover,
button:active {
  transform: translateY(0.2em);
  box-shadow: 0 0 0.1em #222;
}

.current-user,
.current-user a {
  color: #ffff78 !important;
}

.tile-name.current-user {
  border-color: #ffff78;
}
