.rules-content {
  margin: 0 auto;
  text-align: center; }

.gamegrid-content {
  margin: 0 auto;
  text-align: center; }

.play-controls {
  position: relative;
  border: solid 5px white;
  border-radius: 15px;
  width: 10%;
  bottom: 5.6vw;
  margin: 0 auto; }
  .play-controls .glyphicon {
    font-size: 2em;
    margin: 8% 8%; }

.team-pic {
  text-align: center; }

.rules {
  font-size: 18px;
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700; }

.team-photo img {
  height: 175px;
  width: 175px; }

.blur-pic {
  -webkit-filter: blur(3px); }

.role {
  position: absolute;
  display: none;
  right: 10vw;
  top: 2vw;
  width: 2vw; }

.team {
  background: #18bc9c;
  padding-bottom: 350px; }

.team-title {
  color: white; }

.team-container {
  padding: 100px; }

li {
  padding: 10px; }

.lifetime-table {
  position: relative;
  top: 50px; }

.lifetime-table-header {
  font-weight: bold; }

.settingsView {
  margin-top: 35px;
  margin-bottom: -65px; }

.repoInput {
  margin-top: 40px; }

.logoutButton {
  margin-top: 100px; }

#inputRepo {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px; }
