<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Yellow King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="general"><a href="#">General Information</a></li>
      <li id="tab" class="rules"><a href="#">Rules</a></li>
      <li class="improve"><a href="#">Improving Your Hero</a></li>
    </ul>
  </div>
</div>