<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Red King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row nav-buttons">
    <div class="col-lg-8 btn-group btn-group-justified">
      <div class="general btn-group">
        <button type="button" class="btn btn-default active">General</button>
      </div>
      <div class="btn-group rules">
        <button type="button" class="btn btn-default">Rules</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul class="info-list">
        <li>This game is intended to make artificial intelligence (AI) design fun and accessible to all.</li>
        <li>Every day, your code will be pulled down from your repository on Github.  To get started, check out the <a href="#join">step-by-step instructions</a>.</li>
        <li>Your code (and everyone else's) will be run daily in our game engine. By default, the repository we look for is called "hero-starter".</li>
        <li>After logging in, you can check out your hero's personal stats, or the leaderboard to see how you stack up against the competition.</li>
        <li>Work on your hero code on your computer (instructions are in the <a href="https://github.com/JSJitsu/hero-starter">hero-starter repo</a>).</li>
        <li>If your hero isn't performing well, simply change your hero code, push your changes to Github, and we'll use your new code for the next day's battle! We only pull down your "hero.js" and "helpers.js" files. Any other files in your repository will be ignored.</li>
      </ul>
    </div>
  </div>

</div>