<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Yellow King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="general"><a href="#">General Information</a></li>
      <li id="tab" class="rules"><a href="#">Rules</a></li>
      <li class="active improve"><a href="#">Improving Your Hero</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul class="info-list">
        <ul class="improve-list">
          <li>Improve your hero by changing the code in your "hero.js" and "helpers.js" files. We only pull down YOUR "hero.js" and "helpers.js" files, so any changes you make must be in those files.</li>
          <li>After improving your hero, be sure to add, commit and push those changes to your repository, so that we can pull that new code down tomorrow.</li>
          <li>The code we pull down is from YOUR Github repository and the default is "hero-starter." To change this, sign in and update your repository <a href="#join">below</a>.</li>
          <li>For more detailed instructions on improving your hero, follow the steps outlined in the <a href="https://github.com/JavascriptBattle/hero-starter">README</a>.</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

