<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Yellow King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="general"><a href="#">General Information</a></li>
      <li id="tab" class="rules"><a href="#">Rules</a></li>
      <li class="active improve"><a href="#">Improving Your Hero</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul class="info-list">
        <ul class="improve-list">
        <h6>
          <li>Improve your hero by changing the code in your "hero.js" file</li>
          <li>Once you have changed the code, you can test it using "test_your_hero_code.js"</li>
          <li>Once satisfied, come back to Javascript Battle the next day and see how your hero fared</li>
          <li>For more detailed instructions on improving your hero, follow the steps outlined in the <a href="https://github.com/JavascriptBattle/hero-starter">README</a></li>
          </h6>
        </ul>
      </ul>
    </div>
  </div>
</div>

