<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Improve</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="rules"><a href="#">Rules</a></li>
      <li id="tab" class="brains"><a href="#">Brains</a></li>
      <li class="improve"><a href="#">Improve your Hero</a></li>
    </ul>
  </div>
</div>

