<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>You are logged in and signed up!</h2>
        <hr class="star-primary">
    </div>
      <center>
        <h4>
          You are currently ENTERED in the JavaScript Battle. We are using the following code:
        </h4>
        <p>GitHub Repository:</p>
        <p> <%= codeRepo %> </p> 
        <p>GitHub Repository Branch:</p>
        <p> <%= codeRepoBranch %> </p>
      </center>
      <br>
      <br>
      <center>
        <a class="btn btn-lg btn-block btn-danger" href="/auth/github">
          Login
        </a>
      </center>
  </div>  
</div>