<div class="container">
  <div class="navbar-header page-scroll">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#page-top">Javascript Battle</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="hidden">
        <a href="#page-top"></a>
      </li>
      <li class="page-scroll">
        <a href="#rules">Learn The Basics</a>
      </li>
      <li class="page-scroll">
        <a href="#replay">See Today's Battle</a>
      </li>
      <li class="page-scroll">
        <a href="#join" id="userContent">Join the Fight</a>
      </li>
      <li class="page-scroll">
        <a href="#team">Meet The Team</a>
      </li>
    </ul>
  </div>
</div>
