<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Join The Fight!</h2>
        <hr class="star-primary">
    </div> 
    <div class="text-center">
      <h3>To join the battle, simply follow these steps:</h4>
      <ol>
        <li>
          <a href="https://github.com/">Create a GitHub account</a> if you don't have one already.
          <a href="https://github.com/about">GitHub</a> is a great way to learn, explore, and share code, and is currently the only way to login to Javascript Battle.
        </li>
        <li>
          Go to Javascript Battle's <a href="https://github.com/JavascriptBattle/hero-starter">hero starter repository</a> on GitHub.
        </li>
        <li>
          In the top right of the page, click "Fork".
        </li>
        <li>
          That's it! Just click the "Login With GitHub" button below, and you'll be automatically entered in the next battle.
        </li>
      </ol>
      </h3>
    </div>
  </div>  
     <a class="btn btn-block btn-social btn-github" href="/auth/github">
  <i class="fa fa-github"></i>
  Login with GitHub
</a>
</div>