<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center">
      <h2>Join The Fight!</h2>
        <hr class="star-primary">
    </div>
  </div> 
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="info-header">
          To join the battle, simply follow these steps:
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <ol class="info-list">
          <li>
            <a href="https://github.com/">Create a GitHub account</a> if you don't have one already.
            <a href="https://github.com/about">GitHub</a> is a great way to learn, explore, and share code, and is currently the only way to login to Javascript Battle.
          </li>
          <li>
            Go to Javascript Battle's <a href="https://github.com/JavascriptBattle/hero-starter">hero starter repository</a> on GitHub.
          </li>
          <li>
            In the top right of the page, click "Fork".
          </li>
          <li>
            That's it! Just click the "Login With GitHub" button below, and you'll be automatically entered in the next battle.
          </li>
        </ol>
    </div>
  </div>  
     <a class="btn btn-block btn-social btn-github" href="/auth/github">
  <i class="fa fa-github"></i>
  Login with GitHub
</a>
</div>