<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Yellow King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="general"><a href="#">General Information</a></li>
      <li id="tab" class="active rules"><a href="#">Rules</a></li>
      <li class="improve"><a href="#">Improving Your Hero</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ol class="info-list">
        <ol class="rules-list">
          <li>You will be assigned a team at random and will fight for that king that day</li>
          <li>Your hero's code will decide which way to travel depending on the state of the game.  There are only 5 choices: "North", "South", "East", "West", and "Stay"</li>
          <li>Moving into a diamond mine will capture the mine, but BEWARE:  All diamond mines are magic, and will deal a small amount of damage to the new owner any time they are captured</li>
          <li>Enemies are attacked automatically at the end of your hero's turn. Your hero will valiantly hit all adjacent enemies for a moderate amount of damage</li>
          <li>Moving into a "Health Well" tile will replenish your hero's health</li>
          <li>If your hero drops below 0 health, he/she dies</li>
          <li>Teams can win by either 1) Killing every member of the opposing team, or 2) being in possession of more diamonds after 2000 turns</li>
          <li>Strength and Honor!</li>
        </ol>
      </ol>
    </div>
  </div>
</div>