<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Red King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row nav-buttons">
    <div class="col-lg-8 btn-group btn-group-justified">
      <div class="general btn-group">
        <button type="button" class="btn btn-default">General</button>
      </div>
      <div class="active rules btn-group">
        <button type="button" class="btn btn-default active">Rules</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul class="info-list">
        <li>Each day your hero will be assigned to a team.</li>
        <li>Teams can win by:
          <ol class="info-list">
            <li>Killing every member of the opposing team, or...</li>
            <li>Being in possession of more diamonds than the opposing team after 1250 turns.</li>
          </ol>
        </li>
        <li>Your hero's code will decide which way to travel.  There are 5 choices: "North", "South", "East", "West", and "Stay". "Stay" is the default choice and will automatically be chosen if your hero code doesn't return a direction.</li>
        <li>Every hero starts with 100 health points. If your hero's health drops to 0, it will die.</li>
        <li>Moving into a diamond mine will capture the mine, but BEWARE... all diamond mines are magic, and will deal 20 damage points to the new owner any time they are captured.</li>
        <li>Your hero will earn 1 diamond for each mine he/she owns at the start of his/her turn.</li>
        <li>Moving into a "Health Well" tile will heal your hero by 30 hp.</li>
        <li>Moving into a friendly hero will heal that hero for 40 health. Remember, there is no "I" in team.</li>
        <li>Enemies are attacked automatically at the <em>end</em> of your hero's turn. Your hero will hit all adjacent enemies for 20 damage points each.</li>
        <li>You can also attack by moving directly into an enemy. This will deal 10 damage (in addition to the 20 damage described above, for up to 30 damage total).</li>
      </ul>
    </div>
  </div>
</div>