<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Rules</h2>
      <hr class="star-primary">
    </div>
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
           The Red King and the Blue King are at war! Your Javascript skills are needed to determine the victor. Can you code an effective AI for glory and honor? 
        </p>
        <p>
           The rules are simple:
        </p>
    </div>
      <div class="col-lg-8 col-lg-offset-2">
        <article class="rules">
          <ol class="rules-list">
            <li>Follow the steps outlined in the <a href="https://github.com/JavascriptBattle/hero-starter">README</a> to get started.</li>
            <li>Each day your hero's code will be pulled from GitHub and run against other user's code.</li>
            <li>Each hero will be assigned a team at random and will fight for that king that day.</li>
            <li>Your hero will navigate across the gameboard in search of honor and riches in the form of defeating enemies and capturing diamond mines.</li>
            <li>Your hero will need to decide which way to travel depending on the environment. Will your hero run from attack or fight? Will your hero seek out only the riches of diamond mines? Will your hero seek only the glory of combat</li>
            <li>Diamond mines are captured automatically by the game when your hero steps onto a diamond mine tile, but at a cost to your hero's health.</li>
            <li>Enemies are attacked automatically when your hero is on an adjacent tile to an enemy.</li>
            <li>Health potions are available throughout the game board and will restore some of your hero's lost health.</li>
            <li>Victory will be found when all of a team's heros have been killed or when the game expires and the team with the most diamonds wins.</li>
            <li>Determine your strategy, craft your code accordingly, mount your steed and storm the gates of valhalla!</li>
          </ol>
        </article>
      </div>
  </div>
</div>