<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Learn The Basics</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 text-center info-header">
      The Yellow King and the Blue King are at war!  Your Javascript skills are needed to determine the victor: can you code an effective AI for honor and glory?
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs options-tabs rulesViewTabs" role="tablist">
      <li class="general"><a href="#">General Information</a></li>
      <li id="tab" class="active rules"><a href="#">Rules</a></li>
      <li class="improve"><a href="#">Improving Your Hero</a></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <ul class="info-list">
        <ul class="rules-list">
          <li>Each day you will be assigned to a team at random and will fight for that king.</li>
          <li>Teams can win by either 1) Killing every member of the opposing team, or 2) being in possession of more diamonds than the opposing team after 2000 turns.</li>
          <li>Your hero's code will decide which way to travel depending on the state of the game.  There are only 5 choices: "North", "South", "East", "West", and "Stay."</li>
          <li>Every hero starts with the full 100 health points. If your hero's health drops below 0, he or she dies.</li>
          <li>Moving into a diamond mine will capture the mine, but BEWARE...All diamond mines are magic, and will deal 20 damage points to the new owner any time they are captured.</li>
          <li>Enemies are attacked automatically at the end of your hero's turn. Your hero will valiantly hit all adjacent enemies for 30 damage points each.</li>
          <li>Moving into a "Health Well" tile will replenish your hero's health 40 points.</li>
        </ul>
      </ul>
    </div>
  </div>
</div>