<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>You are logged in but not signed up!</h2>
        <hr class="star-primary">
    </div>
      <!-- <center>
        <h4>
          To join the battle, login through GitHub. GitHub is a fantastic way to learn, explore and share code with all your friends, as well as complete strangers, and is currently the only way to login to Javascript Battle. Anyone with a GitHub account can sign in to Javascript Battle.
        </h4>
        <h4>
          If you don't already have one, you can sign up for a GitHub account <a href="https://github.com/join">here</a>. Otherwise, click the login button below. May the javascripts be with you!
        </h4>
      </center>
      <br>
      <br>
      <center>
        <a class="btn btn-lg btn-block btn-danger" href="/auth/github">
          Login
        </a>
      </center> -->
  </div>  
</div>