<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2> <%= githubHandle %> </h2>
        <hr class="star-primary">
    </div>
      <p>You are currently NOT ENTERED in the JavaScript Battle.  To enter, please enter the name of the respository that holds your "hero.js" file (with "move" function inside).
      </p>
      <br>
      <p>For an overview, follow our walkthrough <a href=# >here.</a></p>
      <center><p>GitHub Repository</p></center>
      <center><form><input type="text" name="repo"></form></center>
      <br>
      <center><p>GitHub branch</p></center>
      <center><form><input type="text" name="branch"></form></center>
      <br>
      <center><p>OR</p></center>
      <center><p>Upload your file directly here:</p></center>
      <center><form><input type="text" name="repo"></form></center>
      <br>
      <center><button>Select/Upload</button></center>
  </div>  
</div>